<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="LogPath" value="G:\bytebuflog"/>
    <add key="Languages" value="China,English"/>
    <add key="Language_China" value="Language\China.xml"/>
    <add key="Language_English" value="Language\English.xml"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <publisherPolicy apply="yes"/>
      <probing privatePath="DLL"/>
    </assemblyBinding>
  </runtime>
</configuration>
